@import "./fonts.css";
@import "./index.css";
@import "./about.css";

*, 
*::after, 
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-clr-10: hsl(230 100% 10%);
	--primary-clr-20: hsl(230 100% 20%);
	--primary-clr-30: hsl(230 100% 30%);
	--primary-clr-40: hsl(230 100% 40%);
	--primary-clr-50: hsl(230 100% 50%);
	--primary-clr-60: hsl(230 100% 60%);
	--primary-clr-70: hsl(230 100% 70%);
	--primary-clr-80: hsl(230 100% 80%);
	--primary-clr-90: hsl(230 100% 90%);
	--primary-clr-100: hsl(230 100% 100%);
	--dark-mode-color: hsl(0, 0%, 20%);
	--neon-text-color: hsl(0, 0%, 10%);
	--neon-color: #fff;
	--neon-shadow-color: hsl(230 100% 70%);
	--btn-clr-10: hsl(230 100% 10%);
	--btn-clr-5: hsl(230 100% 5%);
	--btn-clr-90: hsl(230 100% 90%);
	--btn-clr-70: hsl(230 100% 70%);
	--btn-clr-60: hsl(230 100% 60%);
	--btn-br: 0.25rem;
	--btn-size: 5rem;
	--btn-padding: 0.5rem;
	--a-text-color: hsl(230 100% 90% / 70%);
	--image-width: clamp(120px, 15vh + 10vw, 300px);
	--font-size: 1rem;
	--box-shadow-btn: 0 3px 5px 1px rgba(0,0,0,0.5);
	--transition: all var(--time, 300ms) ease;
	--perspective: 45rem;
}

body{
  min-height: 100vh;
	display: grid;
	place-items: center;
	align-content: center;
	grid-gap: 1rem;
	font-family: "Red Hat Mono", monospace;
}

#canvas{
  background-color: var(--dark-mode-color);
  width: 100%;
  position: fixed;
	top: 0;
	left: 0;
  z-index: -1;
  height: 100vh;
}

.btn {
  position: relative;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: var(--btn-padding);
  border-radius: 50%;
  background-image: linear-gradient(0deg, var(--primary-clr-70), var(--primary-clr-90));
  border: 2px solid var(--primary-clr-20);
  box-shadow: 0 1rem 20px var(--primary-clr-10);
  transition: box-shadow 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px var(--primary-clr-10);
}

.btn span{
  display: grid;
  place-items: center;
  position: relative;
  background-image: linear-gradient(0deg, var(--primary-clr-90), var(--primary-clr-70));
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  font-size: var(--font-size);
}

.btn:active span {
  background-image: linear-gradient(0deg, var(--primary-clr-90), var(--primary-clr-60));
	-webkit-tap-highlight-color: transparent;
}